.home_page__container {
    padding: 20px;
    font-family: 'Courier New', monospace;
}

.home_page__title {
    font-size: 32px;
    font-weight: bold;
}

.home_page__no_elements {
    font-size: 24px;
}

.home_page__schema_list {
    display: flex;
}

.home_page__schema_element {
    border: 2px solid black;
    width: 75%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    font-size: 18px;
    min-width: 570px;
}

.schema_element__creator {
    display: flex;
    align-items: center;
}

.author_label {
    margin-right: 12px;
}

.schema_element__creator > img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.home_page__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.home_page__schema_control {
    width: 80%;
    display: flex;
    align-items: center;
}

.schema_input {
    width: 65%;
    display: flex;
    align-items: center;
}

.schema_input > input {
    height: 24px;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 18px;
    padding: 5px;
    width: 90%;
    margin-right: 10px;
    min-width: 250px;
}

.schema_input > img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 5px;
}

.schema_search_mine {
    display: flex;
    align-items: center;
}

.schema_search_mine > span {
    margin-left: 16px;
    font-size: 20px;
    margin-right: 5px;
}

.schema_search_mine > input {
    width: 18px;
    height: 18px;
}