services:
  db:
    image: postgres:latest
    container_name: postgres_db
    env_file:
      - .env
    restart: always
    ports:
      - "5432:5432"
    networks:
      - backend
    volumes:
      - pg_db:/var/lib/postgresql

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:management
    hostname: rabbitmq
    restart: always
    env_file:
      - .env
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq:/var/lib/rabbitmq

  core:
    container_name: core
    build:
      context: ..
      dockerfile: docker/core.Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - rabbitmq
    networks:
      - backend

  notifications:
    container_name: notifications
    build:
      context: ..
      dockerfile: docker/notifications.Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8001:8001"
    depends_on:
      - rabbitmq
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  pg_db:
  rabbitmq: