.modal__overlay {
    position: fixed; 
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__container {
    background-color: #1e293b;
    padding: 24px;
    border-radius: 8px;
    width: 400px;
    border: 1px solid #334155;
    color: white;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5);
}

.delete_table_header {
    margin: 0 0 12px 0;
    font-size: 18px; 
    display: flex; 
    align-items: center; 
    gap: 8px;
}

.delete_table_message {
    margin: 0 0 24px 0;
    color: #94a3b8;
    font-size: 14px; 
    line-height: 1.5;
}

.delete_table_btn_container {
    display: flex; 
    gap: 12px;
    justify-content: flex-end;
}

.delete_table_btn_cancel {
    padding: 8px 16px; 
    border-radius: 6px; 
    border: none;
    background-color: #475569; 
    color: white;
    cursor: pointer;
}

.delete_table_btn_confirm {
    padding: 8px 16px; 
    border-radius: 6px; 
    border: none;
    background-color: #ef4444;
    color: white; 
    cursor: pointer;
    font-weight: bold
}