name: build and deploy
on: push

env:
  TARGET_DIR: /home/myrrhax/ermdev
  JAR_DIR: /tmp/ermdev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: gradle
      - name: Grant permissions to gradle
        run: chmod +x ./gradlew
      - name: Build
        run: ./gradlew clean build
      - name: Upload Jar
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v5
        with:
          name: jars
          path: '**/build/libs/*.jar'

  deploy:
    runs-on: self-hosted
    if: github.ref == 'refs/heads/main'
    needs: [build]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Download JARS
        uses: actions/download-artifact@v6
        with:
          name: jars
          path: ${{ env.JAR_DIR }}

      - name: Prepare directory
        run: |
          # Сначала останавливаем старые контейнеры, пока старый docker-compose еще на месте
          if [ -d "${{ env.TARGET_DIR }}/docker" ]; then
            cd ${{ env.TARGET_DIR }}
            docker compose -f ./docker/docker-compose.yml down || true
          fi
          sudo rm -rf ${{ env.TARGET_DIR }}
          sudo mkdir -p ${{ env.TARGET_DIR }}/build/libs
          sudo chown -R $USER:$USER ${{ env.TARGET_DIR }}

      - name: Copy files
        run: |
          cp -r ./* ${{ env.TARGET_DIR }}/
          cp ${{ env.JAR_DIR }}/*.jar ${{ env.TARGET_DIR }}/build/libs/

      - name: Start project
        run: |
          cd ${{ env.TARGET_DIR }}
          docker compose -f ./docker/docker-compose.yml up --build -d

      - name: Validate
        run: |
          cd ${{ env.TARGET_DIR }}
          sleep 15
          if [ "$(docker compose -f ./docker/docker-compose.yml ps --format json | grep -c "Exited")" -ne 0 ]; then
            echo "Ошибка: один из контейнеров упал!"
            docker compose -f ./docker/docker-compose.yml logs
            exit 1
          fi
          echo "Деплой успешно завершен и проверен"